@import '../variables.scss';

.header {
  height: 100vh;

  &.hero-image {
    background-image: url(../../images/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
  }

  &__container {
    padding-top: 20px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

    .nav {
      position: fixed;
      width: 100%;
      height: 100vh;
      top: 60px;
      left: 0;
      background-color: $Black;
      transition: transform 300ms;
      transform: translateX(100%);
      z-index: 1;

      @media screen and (min-width: 720px) {
        transform: translateX(0);
        background-color: transparent;
        position: static;
        height: auto;
      }

      .menu {
        padding-left: 0;
        margin-top: 150px;
        text-align: left;
        text-transform: uppercase;

        @media screen and (min-width: 720px) {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          text-transform: capitalize;
          margin: 15px 0;
        }

        &__item {
          list-style: none;
          margin: 30px;

          @media screen and (min-width: 720px) {
            margin: 0;
            margin-right: 20px;

            &:last-child {
              margin-right: 0;
            }
          }
        }

        &__link {
          text-decoration: none;
          font-size: 2rem;
          color: $White;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .nav.active {
      transform: translateX(0);
    }
  }

  &__logo {
    width: 150px;
  }

  &__icon {
    cursor: pointer;

    @media screen and (min-width: 720px) {
      display: none;
    }
  }

  .main-card {
    max-width: 335px;
    margin-top: 180px;
    padding: 20px;
    border: 3px solid $White;

    &__title {
      margin: 0;
      font-size: 4.2rem;
      font-weight: normal;
      line-height: 40px;
      color: $White;
      text-transform: uppercase;
    }
  }
}
